* {
  margin: 0, auto;
  background: #922020;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: #b12828;
  text-shadow: 5px 5px 4px #7b1b1b, -5px -5px 4px #a92525;
  margin-bottom: 2rem;
}

.board {
  align-items: center;
  justify-content: center;
  display: flex;
}

#canvas {
  margin-bottom: 3rem;
  border-radius: 5px;
  background: #670f0f;
  display: block;
  box-shadow: 5px 5px 13px #791b1b, -5px -5px 13px #ab2525;
}

.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
}

.tempo {
    align-items: center;
    justify-content: center;
    display: flex;
}

.tempo-slider {
  width: 50rem;
  height: 1rem;
  margin: 2rem;
  outline: none;
  -webkit-appearance: none;
  background: linear-gradient(145deg, #831d1d, #9c2222);
  box-shadow: 2px 2px 4px #861d1d, -2px -2px 4px #9e2323;
  cursor: pointer;
  border-radius: 1rem;
}

.button {
  outline: none;
  color: #e76565;
  width: 9rem;
  height: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 1%;
  border: none;
  border-radius: 10px;
  background: #922020;
  box-shadow: -5px -5px 15px #6b1717, 5px 5px 15px #b92929;
  transition: all 0.3s ease;
}

.button.active {
  outline: none;
  box-shadow: inset -5px -5px 15px #6b1717, inset 5px 5px 15px #b92929;
}

.button:hover {
  outline: none;
  transform: scale(1.1);
}

.clearFix {
  clear: both;
  float: none;
}
